body {
    font-size: larger;
    overflow-x: hidden;
}

/* PC */
@media (min-width: 768px){ 
    .header {
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .hero {
        height: 400px;
        width: 100%;
        background-color: #495e57;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right {
        transform: translateY(50px);
        padding-left: 120px;
    }
    .second {
        width: 100%;
        padding-top: 150px;
        padding-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
    }
    .top {
        display: flex;
    }
    .top {
        width: 950px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(226, 226, 0);
        line-height: 10px;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .reviewcard {
        margin-left: 50px;
    }
    .fourth {
        height: 600px;
        width: 100%;
        background-color: #495e57;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fifth {
        height: 550px;
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 18%;
        padding-right: 18%;
    }
}

/* Mobile */
@media (max-width: 991.98px){ 
    .logo {
        width: 200px;
        height: 57px;
    }
    .header {
        height: 30px;
        padding: 10px;
        display: flex;
    }
    nav {
        visibility: hidden;
    }
    .hero {
        transform: translateY(4%);
        height: 730px;
        width: 90%;
        background-color: #495e57;
    }
    .left {
        padding-top: 40px;
        padding-left: 20px;
        padding-bottom: 40px;
    }
    .pfirst {
        width: 90%;
        text-align: center;
    }
    .right {
        width: 80%;
        height: auto;
    }
    .rights {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .third {
        height: 1400px;
    }
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(226, 226, 0);
    }
    .top {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
    }
    .fourth {
        height: 1400px;
        width: 90%;
        background-color: #495e57;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reviewcard {
        margin-bottom: 20px;
    }
    .fourthh1 {
        font-size: x-larger;
        text-align: center;
        margin-bottom: -30px;
    }
    .fifth {
        width: 90%;
        padding-bottom: 40px;
    }
    .leftext {
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        line-height: 50%;
    }
    .leftext > h1 {
        line-height: 0%;
        padding-top: 60px;
    }
    .rightpics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.logo {
    padding-right: 100px;
}

a {
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
}

.left {
    color: white;
}

p {
    width: 400px;
}

button {
    background-color: rgb(240, 240, 0);
    border-radius: 20px;
    padding: 8px 20px 8px 20px;
    border: none;
}

.reservebutton {
    padding: 0px;
}

.pfirst {
    padding-bottom: 20px;
}

button:hover {
    cursor: pointer;
}

.h12 {
    color: black;
}

.card {
    height: 420px;
    width: 300px;
    background-color: #d9d9d9;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.card > p {
    width: 240px;
    padding-left: 20px;
}

.sub {
    font-size: large;
}

.title, .footer {
    font-weight: bold;
}



.reviewcard {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.fourthh1 {
    color: white;
    padding-bottom: 80px;
}


.iconperson {
    border-radius: 200px;
}

.reviewer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 50px;
    align-items: center;
}

div > h5 {
    margin: 0px;
}

.fifthinside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.realfooter {
    height: 500px;
    width: 100%;
    background-color: #495e57;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
}

.footerlogo, .footernav {
    place-self: center;
}

.footernav > nav > a {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;

}

.footernav > nav {
    display: flex;
    flex-direction: column;
}
